@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

/* define variables */

:root {
	--primary: #769656;
}

* {
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: "Luckiest Guy", cursive;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	display: flex;
	position: relative;
	z-index: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: black;
	/* color: #ff8cb8; */
}

#findRandom {
	background: #e08a00;
	border: none;
	border-radius: 5px;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin: 0.5rem;
	color: white;
}

.forSelection {
	display: flex;
	justify-content: center;
	align-items: center;
}
.test-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
	display: none;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* border: 5px solid red; */
}

.menu {
	padding: 30px;
	color: white;
	height: 60vh;
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.281);
	width: 40ch;
}

.login-page {
	height: 400px;
	width: 400px;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu * {
	padding: 6px;
}

.menu h2 {
	margin-top: auto;
}

.menu span {
	color: rgb(0, 255, 0);
}

.menu .test-div {
	margin-top: auto;
	/* width: 500px; */
}

.forCanvas {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
	align-items: center;
	padding: 3px;
	border: 10px solid #eeeed2;
	/* display: none; */
	border-radius: 10px;
}

.player-name {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px;
}

.player-name * {
	color: white;
}

.player-name img {
	height: 3.5rem;
	border-radius: 50%;
}
/* 
#canvas-container {
  transform: rotate(30deg);
} */

#yourTurn {
	color: white;
	margin: 30px;
	font-size: 24px;
}

@keyframes animateTurn {
	0%,
	100% {
		transform: scale(1) rotate(0deg);
	}
	33% {
		transform: scale(1.3) rotate(7deg);
		color: lightgreen;
	}

	50% {
		transform: scale(1) rotate(0deg);
		color: green;
	}

	67% {
		transform: scale(1.3) rotate(-7deg);
		color: lightgreen;
	}
}

.card {
	width: clamp(300px, 50vw, 500px);
	margin-bottom: 20px;
	box-shadow: 0 14px 16px 0 rgba(0, 0, 0, 0.329);
	border-radius: 8px;
	background-color: #769656;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	color: white;
	height: 60%;
}

.circle {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 2px solid #eeeed2;
}

.pop-up {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(245, 245, 245, 0.322);
	backdrop-filter: blur(10px);
	border: 1px solid #eeeed2;
	box-shadow: 0 0 20px #eeeed2;
	width: 30ch;
	height: 30ch;
	border-radius: 35px;
	padding: 10px;
	margin: 10px;
	z-index: 10;
}

.pop-up p {
	padding: 10px;
	color: #295200;
}

#startingTimer {
	font-size: 60px;
}

#pop-up-button {
	color: white;
	background-color: #173f00;
	font-size: 1.1rem;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 1ch;
}

/* second update */

.glass {
	display: none;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.541);
	border-radius: 20px;
	backdrop-filter: blur(15px);
	width: clamp(300px, 60vw, 500px);
	max-height: 60vh;
	height: 60vh;
	padding: 1rem;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	z-index: 9;
}

.glass .people {
	/* backdrop-filter: blur(10px); */

	width: 92%;
	border: 1px white solid;
	display: grid;
	grid: 4ch / 4ch auto 4ch 4ch;
	border-radius: 1rem;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.37);
	margin: 0.3rem;
	/* drop shadow */
	box-shadow: 0 0 14px grey;
}

.challenge-friend,
.dp,
.add-friend {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* border: 1px yellow solid; */
	padding: 10px;
	border-radius: 50%;
	width: 2ch;
	height: 2ch;
}

.challenge-friend {
	margin-left: 10px;
}

.dp img {
	height: 5ch;
	border-radius: 50%;
}

.name-div {
	padding: 5px;
	margin: 4px;
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
}

.glass .people div .people-name {
	font-size: 1.1rem;
	color: #769656;
	margin-bottom: 4px;
	margin-top: -5px;
}

.glass .people div .people-status {
	font-size: 0.7rem;
	color: black;
}

::-webkit-scrollbar {
	width: 0px;
}

.show-onlines {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border-radius: 50%;
	width: 5ch;
	height: 5ch;
}

.loading-screen {
	display: flex;
	/* display: none; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.541);
	backdrop-filter: blur(15px);
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
}

.loading-animation {
	margin-top: 20px;
	position: relative;
	/* transform: translateX(-100%); */
	border-radius: 10px;
	height: 5px;
	width: 100px;
	background: black;
	animation: animate infinite 1.5s ease-in-out alternate;
}

@keyframes animate {
	0%,
	100% {
		transform: translateX(0) scaleX(0);
	}
	33% {
		transform: translateX(-50%) scaleX(1) rotate(15deg);
	}
	66% {
		transform: translateX(50%) scaleX(1) rotate(-15deg);
	}
}

/* making show request css */

.show-request {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border-radius: 50%;
	width: 5ch;
	height: 5ch;
}

@keyframes gotRequestAnimation {
	0%,
	100% {
		transform: scale(1) rotate(0deg);
		background-color: rgb(0, 255, 0);
	}
	25% {
		transform: scale(1.1) rotate(30deg);
		background-color: rgb(0, 255, 0);
	}
	50% {
		transform: scale(0.8) rotate(0deg);
		background-color: rgb(0, 255, 0);
	}
	75% {
		transform: scale(1.1) rotate(-30deg);
		background-color: rgb(0, 255, 0);
	}
}

.options {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 5.5ch;
	left: -5.5ch;
	top: 0px;
	background-color: rgba(238, 238, 238, 0.383);
	backdrop-filter: blur(10px);
	padding: 20px 0 20px 0;
	border-radius: 0 20px 20px 0;
	padding: 10px 5px;
	transition: transform 200ms ease-in-out;
	box-sizing: border-box;
	z-index: 7;
}

.options div {
	margin: 5px;
}

.toggler {
	position: absolute;
	top: 20px;
	width: 90%;
	left: 1px;
	transform: translateX(100%);
	background-color: rgba(238, 238, 238, 0.383);
	backdrop-filter: blur(10px);

	border-radius: 0px 50% 50% 0px;
}

.toggler span {
	transform: scale(170%) rotate(180deg);
	filter: invert();
	transition: transform 300ms ease-in-out;
}

.options-open {
	transform: translateX(100%);
}

.options-open .toggler span {
	transform: scale(170%) rotate(0deg);
}

#messages {
	display: none;
}

.message-input {
	margin-top: 18px;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.message-input input {
	height: 4ch;
	font-size: 16px;
	margin-right: 10px;
	font-weight: lighter;
	width: 80%;
	border-radius: 20px;
	padding: 8px 8px 8px 16px;
	border: none;
	outline: none;
}

.message-input input:focus {
	border-bottom: 2px black solid;
}

.message-input div {
	background: white;
	height: 5ch;
	width: 5ch;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: fill-available;
}

.message-input::after {
	content: "";
	position: absolute;
	top: -12px;
	left: -20%;
	width: 140%;
	height: 2px;
	background: rgb(158, 158, 158);
}

.message-box {
	max-height: 69%;
	overflow-y: auto;
	margin-top: auto;
	width: 96%;
	padding: 24px 6px 6px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.message {
	background: lightgreen;
	padding: 7px 13px;
	margin: 3px;
}

.left {
	margin-right: auto;
	border-radius: 8px 8px 8px 0px;
}

.right {
	margin-left: auto;
	border-radius: 8px 8px 0px 8px;
}

.forSelection button {
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 50%;
	width: 10ch;
	height: 10ch;
	margin: 0 8px;
	padding: 4px;
}

.forSelection button img {
	height: 7ch;
}

.notification {
	animation: notification-animation 300ms cubic-bezier(0.84, 0.15, 0.81, 1.83)
		infinite alternate;
}

@keyframes notification-animation {
	100% {
		background-color: rgba(60, 255, 1, 0.739);
		transform: translateX(4ch);
	}
}

.notification-msg {
	animation: notification-msg-animation 300ms
		cubic-bezier(0.84, 0.15, 0.81, 1.83) infinite alternate;
	background-color: rgb(0, 255, 0);
}

@keyframes notification-msg-animation {
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
